:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --graying-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--light-gray);
  font-family: "Outfit", sans-serif;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

body p {
  font-size: 15px;
}

main {
  display: grid;
  place-items: center;
  width: 100vw;
  flex: 1;
}

figure {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 20rem;
}

figure > img {
  border-radius: 0.75rem;
  width: 100%;
}

figure > figcaption {
  text-align: center;
  display: grid;
  color: var(--dark-blue);

  margin: 20px auto;
  row-gap: 15px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 10px;
}

footer {
  width: 100%;
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
}

footer p {
  width: 80%;
  text-align: center;
}

footer a {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 0.3rem;
  padding: 0.1rem 0.15rem;
  transition: all 200ms ease-out;
}

footer a:hover {
  background: var(--graying-blue);
  text-decoration: none;
}
